@model Appointment

@{
    var Appointment = (Appointment)ViewBag.Appointment;
}
<h1>Create Product Page</h1>

<form asp-action="Edit" method="post" asp-route-id="@Appointment.Id" class="form-horizontal">
    <div class="form-group">
        <div>
            <input type="hidden" asp-for="Id" value="@Appointment.Id" />
        </div>
        <label asp-for="PatientName">Patient's Name</label>
        <div>
            <input asp-for="PatientName" value="@Appointment.PatientName" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DoctorName">Doctor's Name</label>
        <div>
            <input asp-for="DoctorName" value="@Appointment.DoctorName" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Speciality">Speciality</label>
        <div>
            <input asp-for="Speciality" value="@Appointment.Speciality" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Date">Date</label>
        <div>
            <input asp-for="Date" type="date" value="@Appointment.Date" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Time">Time</label>
        <div>
            <input asp-for="Time" type="time" value="@Appointment.Time" />
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</form>

