@{
    var Book = (BookModel)ViewData["Book"];
}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Title: @Book.Title</h5>
        <p class="card-text">ID:   @Book.BookID </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: @Book.Price SAR</li>
        <li class="list-group-item">No.page: @Book.NoPage</li>
        <li class="list-group-item">Notes: @Book.Notes</li>

    </ul>
</div>
@*Tag Helper*@
<button type="button" class="btn btn-dark">
    <a style="color:white" asp-controller="Books" asp-action="Index">Back to Books</a>
    </button>