@{
    ViewData["Title"] = "Index";
    var shipments = (List<Shipment>)ViewData["shipments"];
    var customers = (List<Customer>)ViewData["customers"];
    var products = (List<Product>)ViewData["products"];

}

<h1 class="text-info">Shipments List</h1>

<p>
    <a class="btn btn-info form-control text-white" asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>DateOfDelivery</th>
            <th>LocationOfDelivery</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in shipments)
        {
            <tr>
                <td>@item.DateOfDelivery</td>
                <td>@item.LocationOfDelivery</td>
                <td>
                    @foreach (var item1 in customers)
                    {
                        if (item1.Id == item.CustomerId)
                        {
                            <p>
                                @item1.FirstName
                                @item1.LastName
                        </p>
                        break;
                    }
                }

                </td>
                <td>
                    @foreach (var item2 in products)
                    {
                        if (item2.Id == item.CustomerId)
                        {
                            @item2.Name
                            break;
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
